<h1 class="mt-0 mb-5 text-center">{{title}}</h1>
<center>
<form action="/brands">
  Brand name:
  <input type="text" name="name"><br>
  Description:
  <input type="text" name="description"><br>
  <input type="submit" value="Submit">
</form> 
</center>

<?php
    if(isset($_POST['submit'])){
        $sql = "INSERT INTO brands (name, description)
        VALUES ('".$_POST["name"]."','".$_POST["description"].")";
    }

    ?>