	<div>
		<h1 class="mt-0 mb-5 text-center">{{title}}</h1>
		<div class="row mx-4">
			{{#each data}}
			<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
				<div class="">
					<h5 class="card-title text-center my-3">{{this.name}}</h5>
					<h7 class="">{{this.description}}</h7>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
