<div>
		<b><h1 class="mt-2 mb-0 text-center">{{message}}</h1></b>
		<center>
				<a href="/user" type="button" class="btn btn-secondary btn-sm" style="margin-bottom: 50px;">Back to Products</a>
		</center>
	</div>
