
	<div>
		<h1 class="mt-0 mb-5 text-center">{{title}}</h1>
		<a href="/product/create">Create a product</a>
		<div class="row mx-4">
			{{#each data}}
	<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">
	<div class="card bg-secondary text-light center">
		<a href="/products/{{this.id}}" class="text-light">
		<img class="card-img-top" src="{{this.image}}" width="400" height="300">
	<div class="">
	<h6 class="card-title text-center my-3">{{this.name}}</h5>
		</div>
		</a>
	</div>
	</div>
			{{/each}}
	</div>
	</div>
