<form action="#" method="POST">
  <label>Email Address:</label>
  <input type="email" name="emailadd" placeholder="Email Address" class="form-control">
  <label>Password:</label>
  <input type="password" name="password" placeholder="Password" class="form-control">
  <input type="submit" name="login" value="Log In" class="btn btn-primary">
</form>